.sectionButton {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notActive {
  background-color: #434343;
  width: auto;
}

.active {
  background-color: #676767;
  width: auto;
}

.logo {
  margin-left: 20px;
  height: 20px;
  width: auto;
}

.text {
  display: flex;
  margin-left: 20px;
  font-size: 18px;
  color: #ccced8;
}
